{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <form action="/forgotpassword" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <p> A verification code will be generated and be sent to the email associated with this username. This code will be your new password. Please enter it on the next page. </p>
        <button class="btn btn-primary" type="submit">Send Verification Code</button>
    </form>
{% endblock %}