{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="/resetpassword" method="post">
        <div class="form-group">
            <input class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            {% if forgot == 0%}
                <input class="form-control" name="old_password" placeholder="Current Password" type="password" required>
            {% else %}
                <input class="form-control" name="old_password" placeholder="Email Verification Code" type="password" required>
            {% endif %}
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
{% endblock %}